.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.stock {
    color: white;
    font-size: 1.2rem;
}

.stock:nth-child(1) {
    margin-top: 15px;
}

.stock:nth-child(2) {
    color: var(--accent-color);
    margin-bottom: 25px;
}

body {
    background: #1c1717;
}

.products table {
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.products table th {
    color: var(--accent-color);
    padding: 5px 30px;
}

.products tr td:nth-child(3) {
    text-align: center;
}

.products tr {
    border-bottom: 1px solid #232323;
}

.products tr:not(.products__header):hover {
    background: #232323;
    cursor: pointer;
}

.products tr td {
    padding: 5px 30px;
}

.increment {
    width: 20px;
}
