{% extends "layout.html" %}
{% load static %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="https://cdn.discordapp.com/attachments/1029736062974705746/1151175108673675356/index.css">
{% endblock css %}
{% block content %}
<h1>All Games</h1>
<ul class="products">
    {% for product in products %}
    <li class="products__item">
        <a href="#">
            <h1>
                {{ product.name }}
            </h1>
            <p>Rp.{{product.price|intcomma}}</p>
            <p>Sisa {{product.amount}}</p>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}