{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/1029736062974705746/1151175109051166861/layout.css">
    {% block css %}
    {% endblock css %}
    <title>Toko Game Pak Bepe</title>
</head>

<body>
    <nav class="navbar">
        <section class="navbar__hero">
            <img src="https://cdn.discordapp.com/attachments/1029736062974705746/1151175109516730378/cbkatak.png" width="150px" alt="cbkatak">
            <div class="navbar__hero-banner">
                <h1>Toko Game Pak Bepe</h1>
                <h2>C. BinKatak --- Bersama, Berhad.</h2>
                <h3>Juan Dharmananda Khusuma --- PBP D</h3>
            </div>
        </section>
        <section class="navbar__nav">
            <ul>
                <a href="#">Home</a>
                <a href="#">Game</a>
                <a href="#">Add Game</a>
                <a href="#">Transaction</a>
            </ul>
        </section>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>